<div class="container mb-5 mt-5">
  <div class="card border-info">
    <div class="card-body">
      <h4 class="card-title"> <code>Información y contacto</code></h4>
      <div class="row mt-3">
        <div class="col">
            <div class="card-body">
              <img class="card-img-top my-card-image" src="assets/image/others/info.png" alt="Card image cap">
          </div>
        </div>
      </div>
      <p class="card-text">Mijapop, por su propia cuenta o la de un tercero contratado para la prestación de servicios
        de información y respuesta. 
        Una servicio externo se encargará de ayudar al usuario, cubriendo todas las necesidades de este a la hora de 
        dirigirse a la empresa con dudas. <br>
        Somos conscientes de las dudas que pueden asaltarte como usuario de nuestra app. Dejamos en las mejores manos posibles este trabajo.<br><br>
      </p>

      <hr class="my-4 border-info">

      <p> <b>Ponte en contacto con nuestro equipo:</b><br><br>

        Ponemos a vuestra disposición diferentes métodos para que os pongais en contacto con nosotros:<br><br>
      </p>

      <div class="row">
        <div class="col-md-6">
          <div class="card border-info">
            <div class="card-body">
              <h5 class="card-title"> <code>E-mail</code></h5>
              <p class="card-text"> <b>Dirección:</b> manager@mijapop.com <br>
              <b>Marketing:</b>marketing@mijapop.com<br>
              <b>SAT:</b>fs@mijapop.com<br>
              <b>SAC:</b>info@mijapop.com<br>
            </p>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card border-info">
            <div class="card-body">
              <h5 class="card-title"> <code>Otros</code></h5>
              <p class="card-text"> <b>Web:</b> En construcción<br>
              <b>Dirección:</b>C/Altairano 6<br>
              <b>Teléfono Administrador: </b>+34 645 543 557<br>
              <b>Teléfono información: </b>+34 675 143 878<br>
            </p>
            </div>
          </div>
        </div>
      </div>

        <hr class="my-4 border-info">

        <p>

          El Usuario puede bloquear o eliminar así como elegir el nivel de privacidad, los datos guardados por la entidad encargada de este servicio, según los cauces habituales y legales para este tipo de servicios. Para más información pongase en contacto con nuestro equipo de SAC (Servicio de atención al cliente).</p>

    </div>
  </div>
</div>
