<div class="container">
    <div class="row">
        <div class="col">
            <div class="product-container">
                <div class="product-image">
                    <figure>
                        <img src="{{product.photo1}}"/>
                    </figure>
                </div>
                <div class="product-text-content">
                    <div class="product-price">{{product.price}}</div>
                    <div class="product-name">{{product.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
