<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Chat-room - {{this.idConversation}}</h1>
      </div>
    </div>

    <div class="row ml-5">
      <div class="col-auto foto">
        <img src="assets/image/user.png" />
      </div>
      <div class="col">
        <div class="comentario">
          <div class="nombre btn-link">Maria</div>
          <p class="texto-owner">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea
            commodo consequat.</p>
          <div class="fecha">11:01 AM | Today</div>
        </div>
      </div>
    </div>

    <div class="row mr-5">
      <div class="col-auto foto">
        <img src="assets/image/user.png" />
      </div>
      <div class="col">
        <div class="comentario">
          <div class="nombre btn-link">Yo</div>
          <p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
            labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea
            commodo consequat.</p>
          <div class="fecha">11:01 AM | Today</div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <hr>
          <textarea class="form-control" id="inputTextArea" name="nameInputTextArea" rows="3"></textarea>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col form-group">
        <button type="submit" class="btn btn-block btn-primary">Responder</button>
      </div>
    </div>

  </div>
</div>
