<div class="container mb-5 mt-5">


  <!-- Clases que podemos utilizar
    .card 					Establecemos que trabajaremos con una tarjeta (card)
        .card-body 		Establecemos cual sera el contenedor del contenido
            .card-title 	Establecemos el un texto como titulo de la card
            .card-subtitle 	Establecemos un subtitulo para la card
            .card-text 		Establecemos el texto de la card.
            .card-link  	Establecemos un enlace como boton en la card
        .card-img-top 		Establecemos una imagen para la card en la parte superior
        .card-img-bottom 	Establecemos una imagen para la card en la parte inferior
    -->

  <div class="card border-info">
    <div class="card-body">
      <h4 class="card-title"> <code>Coockies</code></h4>
      <p class="card-text">
        <p>Mijapop, por su propia cuenta o la de un tercero contratado para la prestación de servicios
          de medición y seguimiento, utiliza cookies cuando el Usuario navega por el sitio www.mijapop.com y sus
          subdominios (en adelante, “el Sitio Web”).<br><br>
          Una cookie es un fichero que se descarga en el ordenador del Usuario al acceder a determinados sitios web,
          permitiendo a éstos, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación del
          Usuario o de su equipo y, dependiendo de la información que contengan y de la forma en que utilice su equipo,
          pueden utilizarse para reconocer un Usuario. </p>

        <hr class="my-4 border-info">

        <p>Las cookies utilizadas por este Sitio Web, así como su finalidad se describen a continuación:<br><br>

          Cookies persistentes de análisis de Google Analytics: Son aquéllas que, tratadas por nosotros y por Google
          Inc.
          nos permiten cuantificar el número de usuarios y así realizar la medición y análisis estadístico de la
          utilización que hacen los usuarios de nuestros servicios. Para ello se analiza su navegación en nuestro Sitio
          Web con el fin de mejorar la experiencia de navegación y los servicios que ofrecemos. Los datos obtenidos
          mediante este tipo de cookies permanecerán almacenados en el terminal del Usuario pudiendo ser tratados en
          cada
          acceso del mismo al Sitio Web hasta que se produzca la caducidad de las cookies o el propio Usuario las
          elimine:<br><br>
          
          <b>Nombre</b> : _ga <br>
          <b>Duración</b> : 2 años.<br>
          <b>Finalidad</b> : Distinguir usuarios.<br><br>

          <b>Nombre</b> : _utma <br>
          <b>Duración</b> : 2 años.<br>
          <b>Finalidad</b> : Se utiliza para distinguir usuarios y sesiones. La cookie se crea cuando se ejecuta la biblioteca
          de
          JavaScript y las cookies no UTMA __ existentes existe. La cookie se actualiza cada vez que los datos se envían
          a
          Google Analytics.<br><br>

          <b>Nombre</b> : _utmb<br>
          <b>Duración</b> : 30 minutos.<br>
          <b>Finalidad</b> : Se utiliza para determinar nuevas sesiones o visitas. La cookie se crea cuando se ejecuta la
          biblioteca de JavaScript y las cookies no UTMB __ existentes existe. La cookie se actualiza cada vez que los
          datos se envían a Google Analytics.<br><br>

          <b>Nombre</b> : _utmc<br>
          <b>Duración</b> : Fin de la sesión del navegador.<br>
          <b>Finalidad</b> : No se utiliza en ga.js. Ajuste para la interoperabilidad con urchin.js. Históricamente, esta
          cookie
          ha funcionado conjuntamente con __utmb para determinar si el usuario estaba en una nueva sesión o visita.<br><br>

          <b>Nombre</b> : _utmz<br>
          <b>Duración</b> : 6 meses.<br>
          <b>Finalidad</b> : Almacena la fuente de tráfico o una campaña que explica cómo llegó el usuario al sitio. Se crea la
          cookie cuando se ejecuta la biblioteca de JavaScript y se actualiza cada vez que los datos se envían a Google
          Analytics.<br><br>

          <b>Nombre</b> : _utmv<br>
          <b>Duración</b> : 2 años.<br>
          <b>Finalidad</b> :Se utiliza para almacenar los datos variables personalizados del visitante. Esta cookie se crea
          cuando un desarrollador utiliza el método _setCustomVar con datos variables personalizados del visitante. La
          cookie se actualiza cada vez que los datos se envían a Google Analytics.<br><br>
        </p>

        <hr class="my-4 border-info">
          
          <p>La configuración de Google Analytics está predeterminada por Google Inc., por lo que le sugerimos que consulte
          la página de privacidad de Google Analytics (http://www.google.com/intl/es/analytics/privacyoverview.html)
          para
          obtener más información de las “cookies” que utiliza y de cómo inhabilitarlas.<br><br>

          Controlar el tráfico y la comunicación de datos, identificar la sesión, acceder a partes de acceso
          restringido,
          recordar los elementos que integran un pedido, realizar el proceso de compra de un pedido, realizar la
          solicitud
          de inscripción o participación en un evento, utilizar elementos de seguridad durante la navegación, almacenar
          contenidos para la difusión de videos o sonido o compartir contenidos a través de redes sociales:<br><br>
          <b>Nombre</b> : bLat<br>
          <b>Duración</b> : 30 días.<br>
          <b>Finalidad</b> : La latitud de tu geolocalización.<br><br>

          <b>Nombre</b> : bLng<br>
          <b>Duración</b> : 30 días.<br>
          <b>Finalidad</b> : La longitud de tu geolocalización.<br><br>

          <b>Nombre</b> : searchLat<br>
          <b>Duración</b> : Sesión.<br>
          <b>Finalidad</b> : La latitud de tu geolocalización (si la has cambiado mediante el campo de búsqueda por
          localización
          o el mapa).<br><br>

          <b>Nombre</b> : searchLng<br>
          <b>Duración</b> : Sesión.<br>
          <b>Finalidad</b> : La longitud de tu geolocalización (si la has cambiado mediante el campo de búsqueda por
          localización
          o el mapa).<br><br>

          <b>Nombre</b> : searchPosName<br>
          <b>Duración</b> : Sesión.<br>
          <b>Finalidad</b> : Tu geolocalización en lenguaje natural (si la has cambiado mediante el campo de búsqueda por
          localización o el mapa).<br><br>

          <b>Nombre</b> : hideBanner<br>
          <b>Duración</b> : 30 días<br>
          <b>Finalidad</b> : Para no mostrarte más el banner principal si lo has cerrado.<br><br>

          <b>Nombre</b> : hideCookieMessage<br>
          <b>Duración</b> : 1 año<br>
          <b>Finalidad</b> : Para no mostrarte más el aviso de cookies si ya lo has visto.<br><br>
          </p>

          <hr class="my-4 border-info">

          <p>
          El hecho de continuar navegando por el Sitio Web implica la aceptación de la instalación de las cookies
          indicadas. En este sentido, “continuar navegando” significa hacer clic en cualquier botón, check box o link
          del
          Sitio Web, hacer “scroll”, así como descargar cualquier contenido ofrecido en el mismo.<br><br>


          El Usuario puede bloquear o eliminar las cookies instaladas en su equipo mediante la configuración de las
          opciones del navegador instalado en el mismo. Por favor, consulte las instrucciones y manuales de su navegador
          para ampliar esta información..</p>
    </div>
  </div>
</div>