<div class="container mb-5 mt-5">
  <div class="card border-info">
    <div class="card-body">
      <h4 class="card-title"> <code>¿Qué contenido no está permitido en Mijapop?</code></h4>

      <hr class="my-4 border-info">

      <div>
        <p class="card-title"><b class="preguntas-y-enunciados">¿Quién es el responsable del tratamiento de sus datos personales?</b><br class="my-5">
        </p>
        <p>
          Si el contenido que publicas en Mijapop incumple estas reglas de convivencia, o va en contra de las
          disposiciones legales vigentes o de las buenas costumbres, lo retiraremos y te enviaremos un correo
          electrónico indicando el motivo por el que se ha retirado. Ten en cuenta que, si el incumplimiento es grave
          o lo realizas de forma reiterada, podemos desactivar tu usuario.<br><br>

          <b class="preguntas-y-enunciados">Aquí encontraras gran parte del contenido que no puedes publicar en Mijapop:</b><br>

          -Anuncios de búsqueda (compro, busco...).<br><br>
          -Acciones ilegales y/o peligrosas.<br><br>
          -Publicidad, spamming, cadenas de correos, esquemas piramidales, marketing multinivel , amenazas y/o
          fraude.<br><br>
          -Enlace para dirigir tráfico a otras páginas web o apps.<br><br>
          -Armas o material explosivo.<br><br>
          -Animales.<br><br>
          -Medicamentos con receta y drogas ilegales o para uso recreativo) (ver Condiciones de uso > Términos de uso
          3.X).<br><br>
          -Tabaco y productos relacionados.<br><br>
          -Comida y bebida.<br><br>
          -Equipamiento propiedad del Estado o productos recibidos por asistencia del Gobierno. (Por ejemplo:
          uniformes y placas de policía).<br><br>
          -Productos que deben ser estériles.<br><br>
          -Cosméticos o artículos de perfumería desprecintados y/o usados.<br><br>
          -Cambio de divisas real o virtual.<br><br>
          -Entradas a eventos, entradas generales y billetes de transporte.<br><br>
          -Tarjetas regalo.<br><br>
          -Servicios de apuestas.<br><br>
          -Infracción a la propiedad intelectual o los derechos industriales, incluyendo patentes, marcas registradas,
          copyrights o secretos comerciales.<br><br>
          -Infracción a los derechos de privacidad.<br><br>
          -Imágenes imprecisas o que no muestren correctamente el producto ofertado.<br><br>
          -Contenido sexual de ningún tipo (imágenes y/o descripción). Por lo tanto, no está permitido publicar
          anuncios relacionados con el sexo, el erotismo o el fetichismo, así como tampoco relacionados con masajes
          sexuales, servicios de compañía y/o prostitución.<br><br>
          -Desnudos de personas en las que aparecen visiblemente genitales. Se permite publicar fotografías de
          pinturas, esculturas y otras obras de arte que muestren desnudos.<br><br>
          -Denunciar el comportamiento de otros usuarios de la aplicación. En caso de tener problemas con algún
          comprador o vendedor, puedes denunciarlo desde la conversación que hayáis mantenido.<br><br>
          -No está permitida cualquier manifestación de discriminación, intolerancia y/u ofensas raciales.<br><br>
          -No está permitida la publicación de anuncios cuyo contenido promueva, apoye o conmemore grupos de odio o
          intolerancia.<br><br>
          -Productos que puedan incitar a la violencia contra personas, animales o cosas.<br><br>
          -Bromas, contenido falso, deshonesto, ambiguo, incorrecto o que induzca al engaño o redirija a contenidos no
          permitidos.<br><br>
          -Relacionados o recuperados de desastres naturales, escenas de crimen, accidentes o tragedias.<br><br>
          -Partes o simulaciones del cuerpo humano, fluidos corporales, restos humanos.<br><br>
          -Contenido relacionado con un individuo menor de 18 años.
        </p>
      </div>

      <hr class="my-4 border-info">

      <div>
        <p class="card-title"><b class="preguntas-y-enunciados">Contenido no permitido por categoría</b><br class="my-5">
        </p>
        <p>
          A continuación puedes ver las normas específicas de nuestras categorías.<br><br>

          <b class="categorias">Coches</b><br>

          <b>No se permite publicar:<br><br></b>

          -Servicios relacionados. <br><br>

          -Coches para piezas y recambios para coches.<br><br>

          -Fotos que no sean del coche a la venta.<br><br>

          <b class="categorias">Motos. Motor y Accesorios</b><br>

          <b >No se permite publicar:<br><br></b>

          -Gasolina o cualquier tipo de combustible<br><br>

          -Piezas para coches que vayan a darse de baja<br><br>

          -Servicio de reprogramacion de kilometraje<br><br>

          <b class="categorias">Imagen y sonido</b><br>

          <b>No se permite publicar:<br><br></b>

          -Decodificadores programados para un uso ilegal (Por ejemplo: cccam, kodi).<br><br>

          <b class="categorias">Informática y Electrónica</b><br>

          <b>No se permite publicar:<br><br></b>

          -Cigarrillos electrónicos, partes de cigarrillos electrónicos y accesorios<br><br>

          -Productos electrónicos modificados <br><br>

          -Emuladores y otros softwares que permitan ejecutar un programa en un dispositivo para el cual no está
          diseñado <br><br>

          -Decodificadores, Raspberrys y Tecnología Kodi programados para un uso ilegal<br><br>

          -Instrumentación médica de uso profesional<br><br>

          -Libros digitales<br><br>

          -Tarjetas SIM o de prepago para móviles y números de teléfono<br><br>

          -Bitcoins y otras criptomonedas <br><br>

          <b class="categorias">Deportes y Ocio</b><br>

          <b>No se permite publicar:<br><br></b>

          -Cuchillos de caza o navajas cuya hoja sea mayor a 10 cm<br><br>

          -Trampas de caza<br><br>

          -Láseres de largo alcance o potencialmente peligrosos.<br><br>

          <b class="categorias">Consolas y Videojuegos</b><br>

          <b>No se permite publicar:<br><br></b>

          -Consolas flasheadas (pirateadas)<br><br>

          -Juegos y cuentas digitales<br><br>

          <b class="categorias">Hogar y Jardín</b><br>

          <b >No se permite publicar:<br><br></b>

          -Semillas de marihuana o tabaco<br><br>

          <b class="categorias">Moda y Accesorios</b><br>

          <b>No se permite publicar:<br><br></b>

          -Prendas realizadas con pieles de animales en peligro de extinción<br><br>

          -Juguetes eróticos<br><br>

          <b class="categorias">Empleo</b><br>

          <b>No se permite publicar:<br><br></b>

          Las ofertas de empleo sólo podrán ser publicadas por empresarios/as bajo estas condiciones: es obligatorio
          publicar el cargo de la oferta, los requisitos y las condiciones laborales.<br><br>

          -Título: Cargo del empleo<br><br>

          -Descripción: Requisitos y condiciones<br><br>

          -Precio: Salario bruto<br><br>

          -Anuncios con números de teléfono de tarificación adicional.<br><br>

          -No está permitido hacer discriminaciones de raza, género, edad, nacionalidad, religión, etc.<br><br>

          -No está permitido publicar anuncios relacionados con sexo, erotismo o fetichismo, ni masajes en esta
          categoría.<br><br>

          -No está permitido anunciar esquemas piramidales o similares.<br><br>

          -No está permitido ofrecer servicios en esta categoría.<br><br>

          -No está permitido publicar ofertas de trabajo sin contrato o trabajo no remunerado.<br><br>

          -No está permitido publicar demandas de trabajo<br><br>

          <b class="categorias">Inmobiliaria</b><br>

          <b>No se permite publicar:<br><br></b>

          -Servicios de tramitación de contratos de vivienda<br><br>

          -Timesharing<br><br>

          <b class="categorias">Servicios</b><br>

          <b>No se permite publicar:<br><br></b>

          -Servicios de magia negra, tarot, vudú o similares<br><br>

          -Servicios de modificación de dispositivos electrónicos<br><br>

          -Servicios de redistribución de software para los que se necesita una licencia<br><br>

          -Concesión de préstamos<br><br>

          -Servicios de venta de seguidores para redes sociales, canales de YouTube, páginas web, dominios,
          etc.<br><br>

          -Servicios de traders, tipstering y consejos sobre las apuestas deportivas<br><br>

          -Servicios con el objetivo de subir el nivel de juegos digitales<br><br>

          -Servicios de conductor/taxi<br><br>

          -Servicios de reuniones a domicilio, como Tupperware, Tuppersex o Thermomix<br><br>

          -Servicios de seguros y asesores inmobiliarios<br><br>

          -Profesionales de la salud no colegiados y sin número de registro<br><br>
        </p>
      </div>
    </div>
  </div>
</div>
