<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <p>mijapop, la mejor plataforma de compraventa de productos de Segunda mano</p>
    </div>
  </div>
  <div class="row fila">
    <div class="col columna d-flex justify-content-center">
      <h1>¿Qué estás buscando hoy?</h1>
    </div>
  </div>
  <div class="row fila">
    <div class="col columna d-flex justify-content-center flex-wrap">

      <div class="icons m-1">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Coches']">
          <img class="icon-main" src="assets/image/icons/icon-cat-car2.png" alt="Card image cap">
          <span>Coches</span>
        </a>
      </div>
      <div class="icons m-1">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Motos']">
          <img class="icon-main" src="assets/image/icons/icon-cat-moto.png" alt="Card image cap">
          <span>Motos</span>
        </a>
      </div>
      <div class="icons m-1">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Motos y accesorios']">
          <img class="icon-main" src="assets/image/icons/icon-cat-motor.png" alt="Card image cap">
          <span>Motor y Accesorios</span>
        </a>
      </div>
      <div class="icons m-1">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Moda y accesorios']">
          <img class="icon-main" src="assets/image/icons/icon-cat-fashion.png" alt="Card image cap">
          <span>Moda y Accesorios</span>
        </a>
      </div>
      <div class="icons m-1">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Inmobiliaria']">
          <img class="icon-main" src="assets/image/icons/icon-cat-real-state.png" alt="Card image cap">
          <span>Inmobiliaria</span>
        </a>
      </div>
      <div class="icons m-1">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Tv, Audio y Foto']">
          <img class="icon-main" src="assets/image/icons/icon-cat-tv.png" alt="Card image cap">
          <span>TV, Audio y Foto</span>
        </a>
      </div>
      <div class="icons m-1">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Móviles y telefonía']">
          <img class="icon-main" src="assets/image/icons/icon-cat-mobile.png" alt="Card image cap">
          <span>Móviles y telefonía</span>
        </a>
      </div>
      <div class="icons m-1">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Informática y Electrónica']">
          <img class="icon-main" src="assets/image/icons/icon-cat-computing.png" alt="Card image cap">
          <span>Informática y Electrónica</span>
        </a>
      </div>
      <div class="icons m-1">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Deporte y Ocio']">
          <img class="icon-main" src="assets/image/icons/icon-cat-sport.png" alt="Card image cap">
          <span>Deporte y Ocio</span>
        </a>
      </div>
      <div class="icons m-1">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Bicicletas']">
          <img class="icon-main" src="assets/image/icons/icon-cat-bicycle.png" alt="Card image cap">
          <span>Bicicletas</span>
        </a>
      </div>
      <div class="icons m-1">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Consolas y Videojuegos']">
          <img class="icon-main" src="assets/image/icons/icon-cat-videogames.png" alt="Card image cap">
          <span>Consolas y Videojuegos</span>
        </a>
      </div>
      <div class="icons m-1">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Hogar y Jardín']">
          <img class="icon-main" src="assets/image/icons/icon-cat-home-3.png" alt="Card image cap">
          <span>Hogar y Jardín</span>
        </a>
      </div>
      <div class="icons m-1">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Electrodomésticos']">
          <img class="icon-main" src="assets/image/icons/icon-cat-home-appliance.png" alt="Card image cap">
          <span>Electrodomésticos</span>
        </a>
      </div>
      <div class="icons m-1">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Cine, Libros y Música']">
          <img class="icon-main" src="assets/image/icons/icon-cat-music.png" alt="Card image cap">
          <span>Cine, Libros y Música</span>
        </a>
      </div>
      <div class="icons m-1">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Niños y Bebés']">
          <img class="icon-main" src="assets/image/icons/icon-cat-baby.png" alt="Card image cap">
          <span>Niños y Bebés</span>
        </a>
      </div>
      <div class="icons m-1">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Coleccionismo']">
          <img class="icon-main" src="assets/image/icons/icon-cat-collecting.png" alt="Card image cap">
          <span>Coleccionismo</span>
        </a>
      </div>
      <div class="icons m-1">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Contrucción y Reformas']">
          <img class="icon-main" src="assets/image/icons/icon-cat-tool.png" alt="Card image cap">
          <span>Contrucción y Reformas</span>
        </a>
      </div>
      <div class="icons m-1">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Industria y Agricultura']">
          <img class="icon-main" src="assets/image/icons/icon-cat-farming.png" alt="Card image cap">
          <span>Industria y Agricultura</span>
        </a>
      </div>
      <div class="icons m-1">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Empleo']">
          <img class="icon-main" src="assets/image/icons/icon-cat-job.png" alt="Card image cap">
          <span>Empleo</span>
        </a>
      </div>
      <div class="icons m-1">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Servicios']">
          <img class="icon-main" src="assets/image/icons/icon-cat-service.png" alt="Card image cap">
          <span>Servicios</span>
        </a>
      </div>
      <div class="icons m-1">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Otros']">
          <img class="icon-main" src="assets/image/icons/icon-cat-other.png" alt="Card image cap">
          <span>Otros</span>
        </a>
      </div>

    </div>
  </div>

  <div class="row fila">
    <div class="col columna d-flex justify-content-center">
      <h2>Productos destacados del momento</h2>
    </div>
  </div>

  <div class="row fila">
    <div class="col-md-4 col-sm-12  columna">
      <div class="card" style="width: 14rem;">
        <img class="card-img-top my-card-image" src="assets/image/products/sofa.png" alt="Card image cap">
        <div class="card-body">
          <!-- <h5 class="card-title">Sofa</h5> -->
          <p class="card-text">115.333 anuncios</p>
          <a [routerLink]="['/search', 'Sofas']" class="btn btn-info">Sofas</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 columna">
      <div class="card" style="width: 14rem;">
        <img class="card-img-top my-card-image" src="assets/image/products/estufa.png" alt="Card image cap">
        <div class="card-body">
          <!-- <h5 class="card-title">Estufa</h5> -->
          <p class="card-text">16.002 anuncios</p>
          <a [routerLink]="['/search', 'Estufas']" class="btn btn-info">Estufas</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 columna">
      <div class="card" style="width: 14rem;">
        <img class="card-img-top my-card-image" src="assets/image/products/carpet.png" alt="Card image cap">
        <div class="card-body">
          <!-- <h5 class="card-title">Alfombra</h5> -->
          <p class="card-text">32.093 anuncios</p>
          <a [routerLink]="['/search', 'Alfombras']" class="btn btn-info">Alfombras</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row fila">
    <div class="col columna d-flex justify-content-center">
      <h2>Productos destacados del momento</h2>
    </div>
  </div>

  <div class="row fila">
    <div class="col-md-4 col-sm-12  columna">
      <div class="card" style="width: 14rem;">
        <img class="card-img-top my-card-image" src="assets/image/products/vestido-novia.png" alt="Card image cap">
        <div class="card-body">
          <!-- <h5 class="card-title">Vestido de novia</h5> -->
          <p class="card-text">39.735 anuncios</p>
          <a [routerLink]="['/search', 'Patinétes eléctricos']" class="btn btn-info">Vestido de novia</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 columna">
      <div class="card" style="width: 14rem;">
        <img class="card-img-top my-card-image" src="assets/image/products/surf-skate.png" alt="Card image cap">
        <div class="card-body">
          <!-- <h5 class="card-title">Surf skate</h5> -->
          <p class="card-text">56.935 anuncios</p>
          <a [routerLink]="['/search', 'Bicicleta estática']" class="btn btn-info">Surf skate</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12  columna">
      <div class="card" style="width: 14rem;">
        <img class="card-img-top my-card-image" src="assets/image/products/urban-scooter.png" alt="Card image cap">
        <div class="card-body">
          <!-- <h5 class="card-title">Urban scooter</h5> -->
          <p class="card-text">15.845 anuncios</p>
          <a [routerLink]="['/search', 'Bicicletas de montaña']" class="btn btn-info">Urban scooter</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row fila">
    <div class="col-md-4 col-sm-12  columna">
      <div class="card" style="width: 14rem;">
        <img class="card-img-top my-card-image" src="assets/image/products/electric-longboard.png" alt="Card image cap">
        <div class="card-body">
          <!-- <h5 class="card-title">Vestido de novia</h5> -->
          <p class="card-text">8.678 anuncios</p>
          <a [routerLink]="['/search', 'Patinétes eléctricos']" class="btn btn-info">Longboard eléctrico</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 columna">
      <div class="card" style="width: 14rem;">
        <img class="card-img-top my-card-image" src="assets/image/products/kettlebell.png" alt="Card image cap">
        <div class="card-body">
          <!-- <h5 class="card-title">Surf skate</h5> -->
          <p class="card-text">1.668 anuncios</p>
          <a [routerLink]="['/search', 'Bicicleta estática']" class="btn btn-info">Kettlebell</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12  columna">
      <div class="card" style="width: 14rem;">
        <img class="card-img-top my-card-image" src="assets/image/products/electric-bike.png" alt="Card image cap">
        <div class="card-body">
          <!-- <h5 class="card-title">Urban scooter</h5> -->
          <p class="card-text">4.836 anuncios</p>
          <a [routerLink]="['/search', 'Bicicletas de montaña']" class="btn btn-info">Bicicleta eléctrica</a>
        </div>
      </div>
    </div>
  </div>
</div>
