/* .columna {
    background-color: aquamarine;
}

.fila {
    background-color: lightslategray;
} */

.icon-category {
    display: flex;
}
/* 
.image-card {
    width: 50px;
    height: 50px ;
} */

/* .icons {
    maxwidth: 70px;
    height: 70px ;
}

.products-photo {
    width: 200px;
    height: px ;
} */

.icon-main {
    width: 65px;
    height: 65px;
}

.my-card-image{
    width: 334px;
    height: 176px;
}

/* .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none    ;
} 

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
} */

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23545454' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23545454' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.home-section-wrapper {
    background-color: #edf0f2;
}

/* .fila {
    margin: 20px auto;
} */