<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <p>mijapop, la mejor plataforma de compraventa de productos de Segunda mano</p>
    </div>
  </div>
  <div class="row fila">
    <div class="col columna d-flex justify-content-center">
      <h1>¿Qué estás buscando hoy?</h1>
    </div>
  </div>
  <div class="row fila">
    <div class="col columna d-flex justify-content-center flex-wrap">

      <div class="icons">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Coches']">
          <img class="card-img-top icon-main" src="assets/image/icons/icon-cat-car2.png" alt="Card image cap">
          <span>Coches</span>
        </a>
      </div>
      <div class="icons">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Motos']">
          <img class="card-img-top"  src="assets/image/icons/icon-cat-moto.png" alt="Card image cap">
          <span>Motos</span>
        </a>
      </div>
      <div class="icons">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Motos y accesorios']">
          <img class="card-img-top"  src="assets/image/icons/icon-cat-motor.png" alt="Card image cap">
          <span>Motor y Accesorios</span>
        </a>
      </div>
      <div class="icons">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Moda y accesorios']">
          <img class="card-img-top"  src="assets/image/icons/icon-cat-fashion.png" alt="Card image cap">
          <span>Moda y Accesorios</span>
        </a>
      </div>
      <div class="icons">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Inmobiliaria']">
          <img class="card-img-top"  src="assets/image/icons/icon-cat-real-state.png" alt="Card image cap">
          <span>Inmobiliaria</span>
        </a>
      </div>
      <div class="icons">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Tv, Audio y Foto']">
          <img class="card-img-top"  src="assets/image/icons/icon-cat-tv.png" alt="Card image cap">
          <span>TV, Audio y Foto</span>
        </a>
      </div>
      <div class="icons">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Móviles y telefonía']">
          <img class="card-img-top"  src="assets/image/icons/icon-cat-mobile.png" alt="Card image cap">
          <span>Móviles y telefonía</span>
        </a>
      </div>
      <div class="icons">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Informática y Electrónica']">
          <img class="card-img-top"  src="assets/image/icons/icon-cat-computing.png" alt="Card image cap">
          <span>Informática y Electrónica</span>
        </a>
      </div>
      <div class="icons">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Deporte y Ocio']">
          <img class="card-img-top"  src="assets/image/icons/icon-cat-sport.png" alt="Card image cap">
          <span>Deporte y Ocio</span>
        </a>
      </div>
      <div class="icons">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Bicicletas']">
          <img class="card-img-top"  src="assets/image/icons/icon-cat-bicycle.png" alt="Card image cap">
          <span>Bicicletas</span>
        </a>
      </div>
      <div class="icons">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Consolas y Videojuegos']">
          <img class="card-img-top"  src="assets/image/icons/icon-cat-videogames.png" alt="Card image cap">
          <span>Consolas y Videojuegos</span>
        </a>
      </div>
      <div class="icons">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Hogar y Jardín']">
          <img class="card-img-top"  src="assets/image/icons/icon-cat-home-3.png" alt="Card image cap">
          <span>Hogar y Jardín</span>
        </a>
      </div>
      <div class="icons">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Electrodomésticos']">
          <img class="card-img-top"  src="assets/image/icons/icon-cat-home-appliance.png" alt="Card image cap">
          <span>Electrodomésticos</span>
        </a>
      </div>
    <div class="icons">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Cine, Libros y Música']">
          <img class="card-img-top"  src="assets/image/icons/icon-cat-music.png" alt="Card image cap">
          <span>Cine, Libros y Música</span>
        </a>
      </div>
     <div class="icons">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Niños y Bebés']">
          <img class="card-img-top"  src="assets/image/icons/icon-cat-baby.png" alt="Card image cap">
          <span>Niños y Bebés</span>
        </a>
      </div>
      <div class="icons">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Coleccionismo']">
          <img class="card-img-top"  src="assets/image/icons/icon-cat-collecting.png" alt="Card image cap">
          <span>Coleccionismo</span>
        </a>
      </div>
     <div class="icons">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Contrucción y Reformas']">
          <img class="card-img-top"  src="assets/image/icons/icon-cat-tool.png" alt="Card image cap">
          <span>Contrucción y Reformas</span>
        </a>
      </div>
     <div class="icons">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Industria y Agricultura']">
          <img class="card-img-top"  src="assets/image/icons/icon-cat-farming.png" alt="Card image cap">
          <span>Industria y Agricultura</span>
        </a>
      </div>
      <div class="icons">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Empleo']">
          <img class="card-img-top"  src="assets/image/icons/icon-cat-job.png" alt="Card image cap">
          <!-- En la linea 125 class="card-img-top" meter la clase nueva -->
          <span>Empleo</span>
        </a>
      </div>
     <div class="icons">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Servicios']">
          <img class="card-img-top"  src="assets/image/icons/icon-cat-service.png" alt="Card image cap">
          <span>Servicios</span>
        </a>
      </div>
    <div class="icons">
        <a class="d-flex flex-column" [routerLink]="['/products-category', 'Otros']">
          <img class="card-img-top"  src="assets/image/icons/icon-cat-other.png" alt="Card image cap">
          <span>Otros</span>
        </a>
      </div>

    </div>  
  </div>

  <div class="row fila">
    <div class="col-md-4 col-sm-12  columna">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/image/products/product-sofa.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Sofa</h5>
          <p class="card-text">115.333 anuncios</p>
          <a [routerLink]="['/search', 'Sofas']" class="btn btn-primary">Ver Sofas</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 columna" class="products-photo">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top"  src="assets/image/products/product-estufa.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Estufa</h5>
          <p class="card-text">16.002 anuncios</p>
          <a [routerLink]="['/search', 'Estufas']" class="btn btn-primary">Ver Estufas</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 columna" class="products-photo">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/image/products/product-carpet.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Alfombra</h5>
          <p class="card-text">32.093 anuncios</p>
          <a [routerLink]="['/search', 'Alfombras']" class="btn btn-primary">Ver Alfombras</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row fila">
    <div class="col columna d-flex justify-content-center">
      <h2>Productos destacados del momento</h2>
    </div>
  </div>

  <div class="row fila">
    <div class="col-md-4 col-sm-12  columna" class="products-photo">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/image/products/prodruc-electric-scooter.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Patinete eléctrico</h5>
          <p class="card-text">42.434 anuncios</p>
          <a [routerLink]="['/search', 'Patinétes eléctricos']" class="btn btn-primary">Ver Patinétes eléctricos</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 columna" class="products-photo">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top"  src="assets/image/products/product-stationary-bicycle.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Bicicleta estática</h5>
          <p class="card-text">90.023 anuncios</p>
          <a [routerLink]="['/search', 'Bicicleta estática']" class="btn btn-primary">Ver Bicicletas estáticas</a>
        </div>
      </div>
    </div>
    <div class="row fila">
      <div class="col-md-4 col-sm-12  columna" class="products-photo">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/image/products/product-mountain-bike.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Bicicleta de montaña </h5>
            <p class="card-text">42.434 anuncios</p>
            <a [routerLink]="['/search', 'Bicicletas de montaña']" class="btn btn-primary">Ver Bicicletas de montaña</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 columna" class="products-photo">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top"  src="assets/image/products/product-electric-bicycle.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Bicicleta eléctrica</h5>
            <p class="card-text">90.023 anuncios</p>
            <a [routerLink]="['/search', 'Bicicletas eléctrica']" class="btn btn-primary">Ver Bicicletas eléctricas</a>
          </div>
        </div>
      </div>

</div>
