<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <p><code>Mijapop</code> es un equipo muy reducido pero muy hábil. En 2020 se conocen en el Bootcamp de Full
          Stack y el azar les une para hacer esta aplicación como proyecto de fin de curso. Una de las claves para el
          buen funcionamiento de este proyecto ha sido el correcto uso de las skills y soft-skills de cada miembro del
          equipo.

          <p>El equipo de <code>Mijapop</code> quiere agradece que estés aquí, nos gustaría que fueses parte de nuestra
            comunidad, ampliando nuestro número de usuarios contigo.</p>
      </div>
    </div>
  </div>
</section>



<div class="container">

  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <img class="card-img-top my-card-image" src="assets/image/others/javi-perfil.png" alt="Card image cap">
          <h5 class="card-title mb-3"><code>Javier Moneo</code></h5>
          El hemisferio izquierdo, organanización, dirección y manejo de herramientas, sin
          él este proyecto no funcionaría. La lógica por bandera y un ojo analítico que ni Sherlock Holmes.
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col mb-5">
      <div class="card">
        <div class="card-body" >
          <img class="card-img-top my-card-image" src="assets/image/others/miguel-perfil.png" alt="Card image cap">
          <h5 class="card-title mb-3"><code>Miguel Morales</code></h5>
          El hemisferio derecho, la mente inquieta, artes y copies, la parte UX del
            proyecto. Te arranca un coche con el embrague si hace falta, más tozudo que Vegeta y Philip Callahan.
        </div>
      </div>
    </div>
  </div>

  <!-- <hr class="my-4"> -->