<div class="container">
  <section class="my-5">
    <div class="row">
      <div class="col-md-8 mx-auto">
          <h5 class="mb-2" ><code>Noticias Mijapop</code></h5>
        <p>El año que viene, seremos absrovidos por <code>Wallapop</code>.
          Hoy hemos recibido esta gran noticia. En breve daremos un comunicado de prensa informando de todo lo que
          sucederá en unos meses. Gracias a todos por hacer esto posible.</p>
      </div>
    </div>
  </section>

  <div class="row mt-3">
    <div class="col mb-5">
      <div class="card">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="assets/video/press.mp4" type="video/mp4"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
