<div class="container mb-5 mt-5">
  <div class="card border-info">
    <div class="card-body">
      <h4 class="card-title"> <code>Política de privacidad</code></h4>
      <div>
        <p class="card-title"><b>¿Quién es el responsable del tratamiento de sus datos personales?</b><br class="my-5">
        </p>
        Mijapop S.L. (en adelante, «Mijapop»), CIF nº B-89.04.9647, ubicado en la Calle Meridiana 89 Planta 6º,
        08026, Barcelona (España) y correo electrónico: privacidad@Mijapop.com, será responsable de sus datos
        personales (en adelante, los «Datos»).<br><br>

        Le informamos que cuando a través de nuestra Página Web o de nuestra Aplicación realice algún comentario en
        redes sociales, el responsable de los Datos que facilite a través de las mismas será la red social
        correspondiente y no Mijapop, debiendo dirigirse a dicha red social para ejercer, en su caso, sus derechos
        de
        protección de datos que puede consultar en el apartado ¿Cuáles son los derechos de protección de sus datos
        personales? de la presente Política de Privacidad.
      </div>

      <hr class="my-4 border-info">

      <div>
        <p class="card-title"><b>¿A quién es aplicable esta Política?</b><br></p>

        La utilización de la Página Web de Mijapop así como de su Aplicación no está dirigida a menores de 14 años y,
        por consiguiente, éstos deberán abstenerse de facilitar cualquier información de carácter personal.<br>En este
        sentido, Mijapop recomienda la utilización de su Página Web y de su Aplicación a personas mayores de 18 años.
        Para ello, Mijapop se reserva el derecho a comprobar en cualquier momento la edad de los usuarios de su
        Página Web y de su Aplicación.
      </div>

      <hr class="my-4 border-info">

      <div>
        <p class="card-title"><b>¿Cuándo recabamos sus datos personales?</b><br></p>

        Mijapop recaba y trata datos de carácter personal tanto de usuarios que se hayan registrado en nuestra Página
        Web o en nuestra Aplicación, como de usuarios que, no habiéndose registrado, naveguen o las consulten.<br><br>

        De esta manera, Mijapop obtiene y utiliza los datos de la IP y demás identificadores proporcionados por el
        dispositivo desde el que navegue por nuestra Página Web o por nuestra Aplicación, a la vez que recaba los
        Datos que usted proporcione en el momento de registrarse como «Usuario» de Mijapop, así como aquellos Datos
        obtenidos como consecuencia de su navegación, solicitudes, publicaciones, conversaciones, búsquedas, compras,
        valoraciones de otros usuarios, participación en concursos y los Datos derivados, en su caso, de la
        vinculación de su registro en nuestra Página Web o en nuestra Aplicación con su cuenta en Facebook o
        Google.<br><br>

        Adicionalmente, si nos da su consentimiento Mijapop también tratará la ubicación de su dispositivo para
        informarle de los productos que tiene más cerca, permitiéndole así disfrutar de nuestros servicios de manera
        completa.
      </div>

      <hr class="my-4 border-info">

      <div>
        <p class="card-title"><b>¿Qué datos recabamos?</b><br class="my4"></p>

        Mijapop solamente recaba los Datos que resultan estrictamente necesarios para la consecución de las
        finalidades de obtención de los mismos, las cuales detallamos en el apartado ¿Con qué finalidades tratamos sus
        datos personales? de la presente Política de Privacidad. Es por ello que, en caso de no facilitarnos dichos
        Datos no podremos, gestionar el registro solicitado, prestarle el servicio solicitado, llevar a cabo la venta
        solicitada, facilitarle la información requerida, etc., que en cada caso corresponda.<br><br>

        Asimismo, le informamos que determinadas funcionalidades de nuestra Página Web así como de nuestra Aplicación
        utilizan la navegación considerando su ubicación para poder proporcionarle la información más relevante en
        cada caso, así como para ofrecerle ciertos servicios.<br>
        Aunque la navegación considerando la ubicación es
        siempre una elección del usuario, en los casos en los que Usted la rechace la Página Web y/o la Aplicación de
        Mijapop no podrán ofrecerle las funcionalidades o proporcionarle los contenidos basados en dicha ubicación.

      </div>

      <hr class="my-4 border-info">

      <div>
        <p class="card-title"><b>¿Con qué finalidades y con qué base legitimadora tratamos sus datos personales?</b><br></p>

        En el caso de que usted no se haya registrado en nuestra página Web y/o de nuestra Aplicación, Mijapop
        tratará la Ip de su dispositivo para las siguientes finalidades:<br><br>

        – Conocer el origen de la descarga de nuestra Aplicación, llevando a cabo dicho tratamiento en atención a
        nuestro interés legítimo para la mejora de la oferta comercial.<br><br>

        – Acceder a su ubicación mientras navega por nuestra página web o utiliza nuestra Aplicación para mostrarle
        los productos que tienes más cerca. Dicho tratamiento lo llevaremos a cabo únicamente si nos da su
        consentimiento para ello, mediante la aceptación de nuestra política de cookies o los ajustes de su
        dispositivo.<br><br>

        En el caso que usted se haya registrado en nuestra página Web y/o de nuestra Aplicación, las finalidades para
        las cuales trataremos sus Datos de carácter personal son:<br><br>

        – Gestionar su alta y sus preferencias de usuario dentro del área de usuario registrado, así como para
        prestarle los servicios de nuestra página Web y/o de nuestra Aplicación que Usted haya solicitado. La base de
        legitimación que habilita a Mijapop a tratar sus datos para la presente finalidad es su solicitud de
        registro.<br><br>

        – Para velar por el buen uso de nuestros servicios y productos, impidiendo que se lleven a cabo usos ilícitos
        o contrarios a nuestra política y valores, pudiendo incluso darle de baja como usuario registrado. La base
        legitimadora de dicho tratamiento es el cumplimiento por parte de Mijapop de determinadas obligaciones
        legales, así como el interés legítimo de proteger nuestros servicios y productos.<br><br>

        – Mostrarle publicidad ajustada a sus hábitos de consumo y navegación obtenidos del uso de nuestra aplicación
        o página web, en atención a nuestro interés legítimo para la mejora de la oferta comercial.<br><br>

        – Remitirle, por cualquier medio, incluidos por medios electrónicos, comunicaciones comerciales en relación a
        los productos y servicios ofrecidos por Mijapop, comunicaciones que podrán dirigirse en atención a sus
        hábitos de consumo, navegación o utilización de nuestra Página Web y/o nuestra Aplicación. Mijapop realizará
        dicho tratamiento en atención a la relación mantenida con usted, teniendo en cuenta que las citadas
        comunicaciones siempre versarán sobre nuestros productos y servicios.<br><br>

        – Gestionar su participación en los concursos que organizamos, legitimando dicho tratamiento la aceptación por
        su parte de las bases legales del correspondiente concurso en el que usted participe libremente.<br><br>

        – Analizar el contenido de los chats en los que interactúe con otros usuarios, al objeto de verificar que se
        hace un uso lícito de nuestros servicios. Tratamiento que realizaremos al amparo de nuestro interés legítimo
        para para evitar fraude o actos ilícitos.<br><br>

        – Realizar un seguimiento de la entrega de los productos y/o servicios adquiridos a través de nuestra Página
        Web y/o de nuestra Aplicación. Mijapop realiza dicho tratamiento como consecuencia de la aceptación por su
        parte de las condiciones generales de contratación realizada en el momento de solicitar dicho servicio de
        entrega de producto o servicios solicitados.<br><br>

        – Gestionar y controlar las ventas de BUMPS o pago por posicionamiento o visibilidad (visibility). La base
        legitimadora para la realización de dicho tratamiento es la aceptación por su parte de nuestras condiciones
        generales de contratación realizada en el momento de contratar dicho servicio.<br><br>

        – Gestionar las quejas y consultas sobre los productos y/o servicios adquiridos a través de nuestra Página Web
        y/o de nuestra Aplicación, siendo la base legitimadora de este tratamiento la obligación legal de Mijapop de
        acuerdo con la normativa de defensa de los consumidores y usuarios.<br><br>
        – Si usted nos ha proporcionado su consentimiento expreso a tal efecto, comunicaremos sus datos a terceras
        empresas ajenas a Mijapop, con la finalidad mostrarle publicidad adaptada a sus preferencias de consumo y
        navegación tanto de productos y servicios propios, como de terceros. Dicho tratamiento únicamente se llevará a
        cabo si nos da su consentimiento para ello.
      </div>

      <hr class="my-4 border-info">

      <div>
        <p class="card-title"><b>¿Durante cuánto tiempo conservamos sus datos personales?</b><br class="my4"></p>

        En el caso de que usted no se haya registrado en nuestra página Web y/o de nuestra Aplicación, el tiempo de
        conservación de sus datos de carácter personal por parte de Mijapop será el siguiente:<br><br>

        – El tratamiento realizado de la IP o de cualquier otro identificador de su dispositivo para conocer el origen
        de la descarga de nuestra web y/o Aplicación se llevará a cabo únicamente en el momento en que tenga lugar
        dicha descarga.<br><br>

        – Por su parte Mijapop tratará y conservará la ubicación de su dispositivo con las finalidades antes
        indicadas, mientras no deshabilite la geolocalización de su dispositivo.<br><br>

        En el caso que usted se haya registrado en nuestra página Web y/o de nuestra Aplicación, los Datos que
        tratamos se conservarán durante los siguientes plazos:<br><br>

        – Los datos recabados para permitirle el registro en nuestra página web o aplicación ser conservarán mientras
        Usted no cancele su cuenta.<br><br>

        – Los datos recabados para gestionar sus preferencias como usuario se conservarán mientras usted no se oponga
        a dicho tratamiento.<br><br>

        – Aquellos datos recabados y tratados para velar por el bueno uso de nuestros servicios y productos se
        conservarán hasta que se haya llevado a cabo la acción de verificación correspondiente.<br>

        – Los datos recabados para mostrarle publicidad segmentada serán utilizados mientras no se oponga a dicho
        tratamiento.<br><br>

        – Aquellos datos recabados para remitirle comunicaciones comerciales sobre nuestros propios servicios se
        conservarán mientas no se dé de baja como usuario registrado y no se oponga a dicho tratamiento.<br>

        – Los datos recabados como consecuencia de su participación en los concursos realizados por Mijapop se
        conservarán hasta que finalice el concurso correspondiente.<br><br>

        – Conservaremos los datos que Usted facilite a través de nuestro chat mientras realicemos la comprobación
        correspondiente sobre el uso lícito de nuestros servicios.<br><br>

        – Los datos obtenidos como consecuencia de la contratación por su parte de los servicios de entrega se
        conservarán hasta que prescriba la responsabilidad civil derivada de dicho servicio.<br><br>

        – Los datos recabados como consecuencia de la contratación por su parte de nuestros servicios de
        posicionamiento se conservarán hasta que se dé de baja de dicho servicio.<br><br>

        – Aquellos datos obtenidos como consecuencia de las quejas o consultas que nos pueda dirigir se conservarán
        hasta que se haya resuelto la queja o consulta correspondiente.<br><br>

        – Los datos relativos a sus hábitos de navegación o de consumo que podamos haber obtenido de terceros serán
        mantenidos mientras usted no revoque el consentimiento otorgado.<br><br>

        De manera general, cuando Usted se dé de baja como usuario registrado de Mijapop, ésta eliminará toda la
        información de que dispusiera de aquél. Sin embargo, Mijapop conservará datos meramente estadísticos de
        utilización por parte de los usuarios de sus recursos y herramientas.
      </div>

      <hr class="my-4 border-info">

      <div>
        <p class="card-title"><b>¿Con quién compartimos sus datos personales?</b><br class="my4"></p>

        Como le hemos informado, únicamente, en caso de que nos dé su consentimiento para ello, Mijapop comunica sus
        datos a terceras empresas ajenas a nuestra compañía.<br><br>

        Por otro lado, terceros situados fuera de la Unión Europea podrán acceder a sus datos personales con la única
        finalidad de prestarnos servicios que son necesarios para poder gestionar y ofrecerles a nuestros usuarios
        nuestros servicios y productos. A este respecto, le informamos que seleccionamos únicamente a los proveedores
        de servicios que ofrecen adecuadas garantías de protección de sus Datos, pudiéndose poner en contacto con
        Mijapop para mayor información al respecto.
      </div>

      <hr class="my-4 border-info">

      <div>
        <p class="card-title"><b>¿Cuáles son sus derechos en materia de protección datos de carácter personal?</b><br
            class="my4"></p>

        Usted podrá ejercer sus derechos de acceso, rectificación, supresión, oposición, limitación al tratamiento y
        portabilidad de sus Datos, así como la revocación, en cualquier momento, de los consentimientos, en su caso,
        prestados ante Mijapop S.L., CIF nº B-66.04.9057, en la Calle Meridiana 89 Planta 6º, 08026, Barcelona
        (España), adjuntando fotocopia de su DNI o documento identificativo válido equivalente. Para su mayor
        comodidad, y sin perjuicio de que se deban cumplir con determinados requisitos formales establecidos por la
        RGPD, Mijapop S.L. le ofrece la posibilidad de ejercer los derechos antes referidos a través del correo
        electrónico: privacidad@Mijapop.com.<br><br>

        Igualmente, le recordamos la posibilidad de dirigir una reclamación ante la Agencia Española de Protección de
        Datos, especialmente cuando considere que Mijapop no ha satisfecho debidamente el ejercicio de sus derechos.
        Dicha reclamación podrá presentarla ante la citada autoridad mediante las diferentes opciones que la sede
        electrónica de la Agencia Española de Protección de datos ofrece.
      </div>

    </div>
  </div>
</div>
