<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="assets/video/video-who.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-5">Listos para todo</h1>
        <p class="lead mb-0">La industria deja obsoletos millones de objetos que pueden encontrar una segunda oportunidad y no un final prematuro.<br> 
          Vintage, coleccionísmo o simple capricho, en Mijapop cabemos todos.
        </p>
      </div>
    </div>
  </div>
</header>

<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">

        <p><code>Tsukumogami</code>. Esta leyenda nos encanta. En el El folclore japonés, cuando los objetos, como paraguas, sandalias e instrumentos musicales, cumplen 100 años, estos cobran vida. Popularmente se cree que reciben un alma. Sus formas cambian y obtienen rasgos antropomórficos. Pueden ser benignos o malignos según el uso que el dueño les dio. <br>
        Por ejemplo si los tiraron por viejos y obsoletos, al cumplir 100 años volverán para incordiar a su anterior amo. A los Tsukumogami les gusta hacer travesuras y molestar a los humanos.

        <p><code>Vende</code>. Si has pensado en tirarlo, este es el momento. Con nuestra app, en 2 minutos, tienes el producto subido y esperando a recibir ofertas.</p>
          
        <p><code>Busca</code>. Con nuestro sistema de categorías y subcategorías y la localización por GPS, es muy fácil hacer una lista con los productos que quieres usando el botón de favoritos. </p> 

        <p><code>Compra</code>. Ponte en contacto con el vendedor con nuestro chat e intenta llegar a un acuerdo. Ya sabes cómo va.</p>      

        <p>El equipo de <code>Mijapop</code> agradece que estés aquí, nos gustaría que fueses parte de nuestra comunidad, ampliando nuestro número de usuarios contigo.</p>

      </div>
    </div>
  </div>
</section>