<div class="container mb-5 mt-5">
  <div class="card border-info">
    <div class="card-body">
      <h4 class="card-title"> <code>Términos de uso</code></h4>

      <hr class="my-4 border-info">

      <div>
        <p class="card-title"><b>Presentación de términos</b></p>
        <p> Los presentes Términos de uso (en adelante, “los Términos de Uso”) establecen las condiciones bajo las
          cuales
          se ofrece a los usuarios el acceso a los sitios web, servicios y aplicaciones Mijapop (en adelante, “el
          Servicio”) , que es una plataforma que permite a los usuarios publicar ofertas para la compra–venta de una
          amplia variedad de artículos de su propiedad, así como la comunicación entre los usuarios ofertantes y los
          usuarios interesados en adquirir los artículos ofrecidos y la localización geográfica de los mismos, para
          completar la transacción. <br>

          El uso del Servicio atribuye a quien lo realiza la condición de usuario del mismo (en adelante, “el Usuario”)
          e
          implica la aceptación íntegra de estos Términos de Uso. En caso de no estar de acuerdo con todo o parte de
          estos
          Términos de Uso, el Usuario debe abstenerse de instalar y utilizar el Servicio. <br><br>

          Por medio de la aceptación de los presentes Términos de Uso, el Usuario manifiesta: <br><br>

          -Que ha leído, entiende y comprende lo aquí expuesto. <br><br>

          -Que asume todas las obligaciones aquí dispuestas. <br><br>

          -Que es mayor de edad y tiene la capacidad legal suficiente para utilizar el Servicio.<br><br>

          Estos Términos de Uso serán aplicables a los Usuarios a partir de 8 de Abril 2020 y sustituyen los Términos de
          Uso que entraron en vigor el 20 de Mayo de 2016. Su aceptación por parte de los Usuarios será un paso previo e
          indispensable a la utilización del Servicio. El titular del Servicio se reserva la facultad de realizar en
          cualquier momento cualquier modificación o actualización de los Términos de Uso que, una vez entren en vigor,
          deberá ser aceptada por el Usuario para continuar utilizando el Servicio.
        </p>
      </div>

      <hr class="my-4 border-info">

      <div>
        <p class="card-title"><b>1. Titular del servicio</b></p>
        <p> El titular y propietario del Servicio es Mijapop Spain, S.L. (en adelante, “Mijapop”), con domicilio en
          Barcelona, Avenida Meridiana 89, 6ª planta (C.P. 08026), provista de NIF B66159328, constituida el 13 de
          noviembre de 2013, ante el Notario D Rafael de Córdoba Benedito e inscrita en el Registro Mercantil de
          Barcelona, Tomo 44033, Folio 204, Hoja B-445168, Inscripción 1ª.
        </p>
      </div>

      <hr class="my-4 border-info">

      <div>

        <p class="card-title"><b>2. Necesidad de registro</b></p>
        <p> Para poder utilizar el Servicio es necesario el previo registro del Usuario, la aceptación de los presentes
          Términos de uso y la Política de privacidad y de cookies.<br><br>

          Los datos introducidos por el Usuario deberán ser exactos, actuales y veraces.<br>El Usuario registrado será
          responsable en todo momento de la custodia de su contraseña, asumiendo en consecuencia cualesquiera daños y
          perjuicios que pudieran derivarse de su uso indebido, así como de la cesión, revelación o extravío de la
          misma,
          debiendo informar inmediatamente a Mijapop en caso de que tenga motivos para creer que su contraseña ha sido
          utilizada de manera no autorizada o es susceptible de serlo. En cualquier caso, el acceso a áreas restringidas
          y/o el uso del Servicio realizado bajo la contraseña de un Usuario registrado se reputarán realizados por
          dicho
          Usuario, quien responderá en todo caso de dicho acceso y uso.<br><br>

          Mediante la aceptación de los Términos de Uso, el Usuario consiente que sus datos pasen a formar parte del
          fichero de Mijapop y el tratamiento de esos datos será conforme a lo previsto en la Política de Privacidad.
        </p>
      </div>

      <hr class="my-4 border-info">

      <div>
        <p class="card-title"><b>3. Normas de utilización del servicio</b></p>
        <p>
          El Usuario se obliga a utilizar el Servicio conforme a lo establecido en la ley, la moral, el orden público y
          los
          presentes Términos de Uso. Asimismo, se obliga hacer un uso adecuado del Servicio y a no emplearlo para
          realizar
          actividades ilícitas o constitutivas de delito, que atenten contra los derechos de terceros o que infrinjan
          cualquier norma del ordenamiento jurídico.<br><br>

          El Usuario se obliga a no transmitir, introducir, difundir y poner a disposición de terceros, cualquier tipo
          de
          material e información (productos, objetos, datos, contenidos, mensajes, dibujos, archivos de sonido e imagen,
          fotografías, software, etc.) que sean contrarios a la ley, la moral, el orden público y los presentes Términos
          de
          Uso. A título enunciativo y en ningún caso limitativo o excluyente, el Usuario se compromete a:<br><br>

          I. No introducir o difundir contenidos o propaganda de carácter racista, xenófobo, pornográfico, de apología
          del
          terrorismo o que atenten contra los derechos humanos.<br><br>

          II. No difundir, transmitir o poner a disposición de terceros cualquier tipo de información, elemento o
          contenido
          que atente contra los derechos fundamentales y las libertades públicas reconocidos constitucionalmente y en
          los
          tratados internacionales.<br><br>

          III. No difundir, transmitir o poner a disposición de terceros cualquier tipo de información, elemento o
          contenido
          que constituya publicidad ilícita o desleal.<br><br>

          IV. No transmitir publicidad no solicitada o autorizada, material publicitario, “correo basura”, “cartas en
          cadena”, “estructuras piramidales”, o cualquier otra forma de solicitación, excepto en aquellas áreas (tales
          como
          espacios comerciales) que hayan sido exclusivamente concebidas para ello.<br><br>

          V. No introducir o difundir cualquier información y contenidos falsos, engañosos, ambiguos o inexactos de
          forma
          que induzca o pueda inducir a error a los receptores de la información.<br><br>

          VI. No suplantar a otros Usuarios del Servicio ni transmitir los datos de acceso a la cuenta ni la contraseña
          a un
          tercero sin el consentimiento de Mijapop.<br><br>

          VII. No difundir, transmitir o poner a disposición de terceros cualquier tipo de información, elemento o
          contenido
          sin autorización de los titulares de los derechos de propiedad intelectual e industrial que puedan recaer
          sobre
          tal información, elemento o contenido.<br><br>

          VIII. No difundir, transmitir o poner a disposición de terceros cualquier tipo de información, elemento o
          contenido que suponga una violación del secreto de las comunicaciones y la legislación de datos de carácter
          personal.<br><br>

          IX. No difundir, transmitir o poner a disposición de terceros fotografías ni cualquier representación o imagen
          de
          personas menores de edad.<br><br>

          X. Cualquier sustancia que requiera una receta médica o que deba dispensarse bajo la supervisión de un médico
          (doctor, dentista, optometrista, óptico, farmacéutico o veterinario) no está permitida en Mijapop. Así como
          los
          productos que puedas influir en la salud del individuo (que presenten contraindicaciones, interacciones, etc)
          y
          perecederos de cualquier tipo.<br><br>

          XI. Es obligatorio disponer de autorización sanitaria de funcionamiento para desarrollar cualquier actividad
          sanitaria (número de colegiado o número de registro del centro).<br><br>

          El Usuario se obliga a mantener indemne a Mijapop ante cualquier posible reclamación, multa, pena o sanción
          que
          pueda venir obligada a soportar como consecuencia del incumplimiento por parte del Usuario de cualquiera de
          las
          normas de utilización antes indicadas, reservándose, además Mijapop el derecho a solicitar la indemnización
          por
          daños y perjuicios que corresponda.
        </p>
      </div>

      <hr class="my-4 border-info">

      <div>
        <p class="card-title"><b>4. Exclusión de Usuarios</b></p>
        <p>
          Mijapop se reserva el derecho a impedir el uso del Servicio, ya sea de forma temporal o definitiva, a
          cualquier
          Usuario que infrinja cualquiera de las normas establecidas en estos Términos de Uso, la ley o la moral.
          Discrecionalmente, Mijapop también podrá excluir Usuarios e incluso dejar de prestar total o parcialmente el
          Servicio cuando así lo considere oportuno para mejorar la operativa del Servicio y/o del resto de los usuarios
          del
          mismo.
        </p>
      </div>

      <hr class="my-4 border-info">

      <div>
        <p class="card-title"><b>5. Exclusión de responsabilidad</b></p>
        <p>
          Mijapop no es propietaria de ninguno de los artículos en venta o vendidos a través de su plataforma y no es
          parte
          en la transacción de compraventa llevada a cabo exclusivamente entre compradores y vendedores ni revisa o
          valida
          los productos que los Usuarios ofrecen a través del Servicio, por lo que Mijapop no será responsable, ni
          directa
          ni indirectamente, ni subsidiariamente, de los daños y perjuicios de cualquier naturaleza derivados de la
          utilización y contratación de los contenidos y de las actividades de los Usuarios y/o de terceros a través del
          Servicio así como de la falta de licitud, fiabilidad, utilidad, veracidad, exactitud, exhaustividad y
          actualidad
          de los mismos.<br><br>

          Con carácter enunciativo, y en ningún caso limitativo, Mijapop no será responsable por los daños y perjuicios
          de
          cualquier naturaleza derivados de:<br><br>

          a) La utilización que los Usuarios hagan del Servicio ni por el estado, origen, posible inexactitud, o posible
          falsedad de los datos proporcionados por los Usuarios ni de los productos ofrecidos a través del
          Servicio.<br><br>

          b) Los contenidos, informaciones, opiniones y manifestaciones de cualquier Usuario o de terceras personas o
          entidades que se comuniquen o exhiban a través del Servicio (incluye el envío de imágenes a través del
          chat).<br><br>

          c) La utilización que los Usuarios puedan hacer de los materiales del Servicio, ya sean prohibidos o
          permitidos,
          en infracción de los derechos de propiedad intelectual y/o industrial, información confidencial, de contenidos
          del
          Servicio o de terceros.<br><br>

          d) La realización de actos de competencia desleal y publicidad ilícita.<br><br>

          e) La eventual pérdida de datos de los Usuarios por causa no atribuible al Servicio.<br><br>

          f) El acceso de menores de edad a los contenidos incluidos en el Servicio.<br><br>

          g) La indisponibilidad, errores, fallos de acceso y falta de continuidad del Servicio.<br><br>

          h) Los fallos o incidencias que pudieran producirse en las comunicaciones, borrado o transmisiones
          incompletas.<br><br>

          i) La no operatividad o problemas en la dirección de email facilitada por el Usuario.<br><br>

          Mijapop responderá única y exclusivamente frente al Usuario de los Servicios que preste por sí misma y de los
          contenidos directamente originados e identificados con su copyright, quedando limitada, como máximo, al
          importe de
          las cantidades percibidas directamente del Usuario por Mijapop, con exclusión en todo caso de responsabilidad
          por
          daños indirectos o por lucro cesante.<br><br>

          Cualquier reclamación o controversia que pueda surgir entre los Usuarios del Servicio deberá ser solventada
          entre
          éstos, obligándose a mantener a Mijapop totalmente indemne, sin perjuicio de lo cual Mijapop realizará sus
          mejores esfuerzos para facilitar a los Usuarios una pronta y satisfactoria solución a través de su Servicio de
          Atención al Usuario.
        </p>
      </div>

      <hr class="my-4 border-info">

      <div>
        <p class="card-title"><b>6. Contenidos y servicios enlazados a través del Servicio</b></p>
        <p>
          El Servicio puede incluir dispositivos técnicos de enlace, directorios e incluso instrumentos de búsqueda que
          permitan al Usuario acceder a otras páginas y portales de internet (en adelante, “Sitios Enlazados”).<br><br>

          El Usuario reconoce y acepta que el acceso a los Sitios Enlazados será bajo su exclusivo riesgo y
          responsabilidad
          y exonera a Mijapop de cualquier responsabilidad sobre eventuales vulneraciones de derechos de propiedad
          intelectual o industrial de los titulares de los Sitios Enlazados.<br>
          Así mismo el Usuario exonera a Mijapop de
          cualquier responsabilidad sobre la disponibilidad técnica de las páginas web enlazadas, la calidad,
          fiabilidad,
          exactitud y/o veracidad de los servicios, informaciones, elementos y/o contenidos a los que el Usuario pueda
          acceder.<br><br>

          En estos casos, Mijapop sólo será responsable de los contenidos y servicios suministrados en los Sitios
          Enlazados
          en la medida en que tenga conocimiento efectivo de la ilicitud y no haya desactivado el enlace con la
          diligencia
          debida.<br>
          En el supuesto de que el Usuario considere que existe un Sitio Enlazado con contenidos ilícitos o
          inadecuados podrá comunicárselo a Mijapop, sin que en ningún caso esta comunicación conlleve la obligación de
          retirar el correspondiente enlace.<br><br>

          En ningún caso, la existencia de Sitios Enlazados debe presuponer la formalización de acuerdos con los
          responsables o titulares de los mismos, ni la recomendación, promoción o identificación de Mijapop con las
          manifestaciones, contenidos o servicios proveídos.<br>
          Mijapop no conoce los contenidos y servicios de los Sitios
          Enlazados y, por tanto, no se hace responsable de forma directa o indirecta por los daños producidos por la
          ilicitud, calidad, desactualización, indisponibilidad, error e inutilidad de los contenidos y/o servicios de
          los
          Sitios Enlazados ni por cualquier otro daño que no sea directamente imputable a Mijapop.
        </p>
      </div>

      <hr class="my-4 border-info">

      <div>
        <p class="card-title"><b>7. Propiedad intelectual e industrial</b></p>
        <p>
          Los derechos de propiedad industrial e intelectual sobre las obras, prestaciones protegidas y cualesquiera
          contenidos o elementos sobre los que recaigan derechos de propiedad intelectual e industrial que se usen en el
          Servicio (los “Contenidos del Servicio”) pertenecen a sus legítimos titulares.<br>
          El Usuario no adquirirá por el
          uso
          del Servicio ningún derecho de propiedad intelectual o industrial, ni licencia de uso alguna sobre tales
          elementos.<br><br>

          Son Contenidos del Servicio, los textos, fotografías, gráficos, imágenes, iconos, tecnología, software, bases
          de
          datos, y demás contenidos audiovisuales o sonoros, así como su diseño gráfico y códigos fuente utilizados en
          el
          Servicio.<br>
          Esta enumeración se realiza a título enunciativo y ejemplificativo, no limitativo.<br><br>

          El texto, las imágenes, los gráficos, los ficheros de sonido, los ficheros de animación, los ficheros de
          vídeo, el
          software y la apariencia del sitio web de Mijapop son objeto de protección por derechos de propiedad
          intelectual
          e industrial.<br>
          Esos elementos no podrán ser válida y legítimamente copiados o distribuidos para uso comercial,
          ni
          podrán ser modificados o insertados en otros sitios web sin previa autorización expresa de sus
          titulares.<br><br>

          El Usuario manifiesta ser titular en exclusiva de todos los derechos que recaen sobre las obras, prestaciones
          protegidas y cualesquiera otros elementos protegidos por propiedad intelectual o industrial que incorpore en
          el
          Servicio (en adelante, los “Contenidos”).<br><br>

          El Usuario cede gratuitamente y en exclusiva a Mijapop los derechos de comunicación pública, reproducción,
          distribución y transformación que tiene sobre los Contenidos, en todas las modalidades de explotación
          existentes
          en la fecha aceptación de estos Términos de Uso, por todo el tiempo de vigencia de los derechos objeto de
          cesión,
          para el ámbito territorial universal.<br><br>

          Mijapop no representa ni tiene vinculación empresarial alguna con las marcas que los Usuarios puedan anunciar
          en
          el Servicio y Apple no patrocina ni participa en modo alguno en las acciones llevadas a cabo por Mijapop a
          través
          del Servicio.<br><br>

          Cualesquiera consultas relacionadas con lo anterior pueden plantearse a través del Servicio de Atención al
          Usuario
          a través de support@Mijapop.com.
        </p>
      </div>

      <hr class="my-4 border-info">
      <div>
        <p class="card-title"><b>8. Publicación de anuncios</b></p>
        <p>
          El Usuario que desee poner a la venta un producto deberá tener en cuenta que mediante la publicación de su
          anuncio
          está emitiendo una oferta de venta, que será vinculante desde que ésta fuese aceptada por otro
          Usuario.<br><br>

          En cualquier caso, a la hora de publicar sus anuncios el Usuario deberá tomar en consideración lo
          siguiente:<br><br>

          – No está permitido publicar anuncios con imágenes de contenido sexual.<br><br>

          – No está permitido publicar anuncios relacionados con el sexo, el erotismo o el fetichismo, así como tampoco
          relacionados con masajes, servicios de compañía o amistad.<br><br>

          – No está permitido anunciar esquemas piramidales o similares.<br><br>

          – Sólo se permite anunciar un inmueble por anuncio. En tal caso, el inmueble debe anunciarse en la localidad
          en la
          que se encuentre.<br><br>

          – No se pueden buscar compañeras o compañeros para pisos relax, piso de masajes, etc.<br><br>

          – No está permitido publicar imágenes o descripciones que no se correspondan con el artículo realmente
          ofrecido.<br><br>

          – No está permitido publicar imágenes de menores de edad.<br><br>

          – No está permitido publicar anuncios relacionados con animales.<br><br>

          – En cuentas particulares, se permite publicar de manera gratuita un máximo de 2 coches.<br><br>

          Por su parte, el Usuario interesado en adquirir un producto debe tener en cuenta que cuando se compromete a
          comprar un artículo, por un precio establecido, está suscribiendo un contrato de compraventa legalmente
          vinculante
          con otro Usuario.<br>
          Asimismo, el Usuario deberá tener en cuenta que al adquirir un artículo, será considerado
          sujeto
          pasivo del Impuesto sobre Transmisiones Patrimoniales Onerosas y Actos Jurídicos Documentados (“ITPAJD”),
          modalidad TPO, obligándose a mantener a Mijapop totalmente indemne en caso de no dar cumplimiento a dicha
          obligación.<br><br>

          En cualquier caso, a la hora de publicar sus anuncios el Usuario deberá tomar en consideración las reglas de
          convivencia.
        </p>
      </div>

      <hr class="my-4 border-info">

      <div>
        <p class="card-title"><b>9. Servicios de visibilidad</b></p>
        <p>
          Los usuarios podrán incrementar la visibilidad de sus anuncios en Mijapop, a través de la contratación de
          servicios de preferencias publicitarias («servicios de visibilidad»).<br><br>

          Los servicios de visibilidad son servicios opcionales que pueden disfrutar los Usuarios para mejorar el
          posicionamiento de los artículos anunciados.<br><br>

          Los anuncios destacados tienen un formato distinto que los anuncios no destacados: aparecen en el muro con un
          tamaño mayor y son distinguidos con un icono diferencial (un ala de distintos colores o con un rayo amarillo,
          en
          función del tipo de destacado escogido).<br><br>

          Este servicio está disponible para todos los usuarios de la app Mijapop ubicados en España, Francia,
          Portugal,
          UK, Gibraltar y Andorra. Por lo tanto, se puede utilizar en cualquier producto y categoría que cumpla estas
          condiciones.<br><br>

          Las compras de destacados en la aplicación se realizan a través de las stores (Google Play e iTunes en función
          de
          si tu dispositivo es Android o es iOS). Los cobros son gestionados por estas plataformas y al utilizar el
          servicio
          se aceptan sus condiciones de uso.<br><br>

          La contratación del servicio a través de la web de Mijapop está disponible únicamente en España.<br><br>

          Las compras de destacados en la web se realizan a través de la plataforma Stripe.<br><br>

          Stripe permite realizar pagos a través de internet de forma segura, siempre que tanto el usuario haya llevado
          a
          cabo el registro en Stripe y la aceptación de los términos y condiciones de uso de la plataforma. (Stripe
          Payments
          Europe, Ltd., sociedad domiciliada en 1 Grand Canal Street Lower, Dublin 2, Ireland).<br><br>

          No es posible eliminar, trasladar ni cambiar el tipo o la duración de un destacado que ya ha sido aplicado a
          un
          anuncio, independientemente de que el anuncio sea retirado por nuestro equipo de moderación o se vea afectado
          por
          una incidencia técnica.<br><br>

          Si se elimina o marca como vendido un anuncio destacado y el periodo contratado aún no ha finalizado, el
          tiempo de
          visibilidad excedente se perderá.<br><br>

          Si el producto es vendido usando el servicio de envíos de Mijapop, el anuncio será marcado como vendido de
          forma
          automática cuando el paquete sea entregado al comprador de manera que, si el periodo contratado aún no había
          finalizado, el tiempo de visibilidad excedente se perderá.<br><br>

          Al realizar una compra de servicios de visibilidad a través de la web, el usuario recibirá una confirmación de
          la
          compra por email a la cuenta de correo asociada a su perfil de Mijapop. Desde la app, las compras de
          destacados
          se realizan a través de las stores, de manera que será Google Play o iTunes quienes envíen el recibo
          correspondiente.<br><br>

          Para solicitar una factura de la compra de servicios de visibilidad a través de la web, es necesario realizar
          la
          solicitud a través de este enlace: Solicitar factura. Mijapop gestionará la petición en un plazo máximo de 15
          días naturales a partir del momento en que dispongamos de los datos fiscales del solicitante, necesarios para
          emitir la factura.<br><br>

          Para solicitar facturas de compras de destacados realizadas a través de la app, el usuario deberá dirigirse a
          Google Play o iTunes (en función de a través de qué plataforma se ha realizado la compra) para realizar la
          petición.<br><br>

          No es posible realizar compras accidentales de destacados, ya que el proceso consta de varios pasos en los que
          hay
          que escoger opciones y aceptar activamente lo escogido, por lo que cualquier reclamación en este sentido no
          será
          procedente.<br><br>

          Los precios y duraciones de los destacados disponibles pueden variar ya que dependen de varios factores como
          el
          tipo de producto que se promociona, su demanda o el área en la que se quiera promocionar.<br><br>

          Siempre se informa a los usuarios de la duración de los destacados y sus precios antes de finalizar la compra.

          Los servicios de visibilidad que han sido aplicados a un anuncio o a un perfil no pueden ser reembolsados
          independientemente del estado de publicación del anuncio o de si el perfil se encuentra activo o
          inactivo.<br><br>

          La compra de servicios de visibilidad no exime del cumplimiento de las normas de publicación establecidas para
          operar en Mijapop.<br><br>

          En caso de fallo en la aplicación de un servicio de visibilidad contratado a través de la web, por incidencia
          técnica, el plazo para solicitar el reembolso será de 14 días naturales a partir de la compra del
          destacado.<br><br>

          Tipos de destacados para anuncios<br><br>

          Destacado en tu zona<br><br>
          – Cambia el formato del anuncio para hacerlo más llamativo.<br><br>
          – Resitúa tu anuncio en las primeras posiciones del muro.<br><br>
          – Incluye el anuncio en la colección de la app de destacados de tu municipio y en el de los del resto de
          municipios de tu provincia, siempre que en esos municipios no esté disponible el destacado de Ciudad.<br><br>

          Destacado en tu ciudad<br><br>
          – Cambia el formato del anuncio para hacerlo más llamativo.<br><br>
          – Resitúa tu anuncio en las primeras posiciones del muro.<br><br>
          – Incluye el anuncio en la colección de la app de destacados de tu municipio.<br><br>

          Puedes contratarlo si tienes tu perfil ubicado en estas poblaciones: Barcelona, Madrid, Valencia, Sevilla,
          Zaragoza, Málaga, Alicante, Córdoba, Valladolid, Granada, Badalona, Terrassa, Sabadell, Sant Cugat del Vallès,
          Móstoles, L’Hospitalet de Llobregat, Alcalá de Henares, Palma de Mallorca, Mataró, Getafe, Murcia, Vigo, A
          Coruña,
          Marbella, Tarragona, Donostia-San Sebastián, Oviedo, Elche, Lleida, Santander, Viladecans, Girona, Gijón,
          Reus,
          Rubí, Pamplona y Bilbao.<br><br>

          Destacado en España<br><br>
          – Cambia el formato del anuncio para hacerlo más llamativo.<br><br>
          – Resitúa tu anuncio en las primeras posiciones del muro.<br><br>
          – Incluye el anuncio en la colección de la app de destacados de todos los municipios de España
          independientemente
          de la ubicación determinada para el perfil.<br><br>

          Urge<br><br>
          – Cambia el formato del anuncio para hacerlo más llamativo.<br><br>
          – Los anuncios destacados como Urge podrán ser buscados con un filtro específico desde el buscados de la web y
          de
          la app

          *En web el destacado tipo urge sólo puede contratarse en la subida o edición de un anuncio.<br><br>

          Si se modifica la ubicación de un perfil, los anuncios que se encuentren destacado desde antes de hacer el
          cambio
          aparecerán en el muro de la nueva zona pero permanecerán en el carrusel y la colección de destacados de la
          ubicación que establecida cuando fueron contratados.<br><br>

          Mijapop puede realizar cargos por editar o reactivar un anuncio en determinadas versiones de la
          aplicación.<br><br>
          En
          este caso, el usuario siempre será debidamente informado del coste del servicio antes de confirmar la
          compra.<br><br>
          El
          usuario siempre tendrá la posibilidad de rechazar el servicio sin que esta acción le suponga coste
          alguno.<br><br>

          Mijapop se reserva el derecho a variar el número de anuncios gratuitos para cuentas particulares y no
          destacadas.<br><br>
        </p>
      </div>

      <hr class="my-4 border-info">

      <div>
        <p class="card-title"><b>10. Servicio de Suscripciones</b></p>
        <p>
          Las suscripciones tienen una renovación automática hasta su cancelación por un período adicional equivalente
          al
          periodo que acordó al suscribirse.<br><br>

          La suscripción se puede cancelar en cualquier momento.<br><br>

          Cancelar su cuenta de Mijapop o eliminar la app de Mijapop de su dispositivo no confirma la cancelación de
          la
          suscripción, por tanto no exime de seguir pagando por la suscripción.<br><br>

          En caso de que un perfil sea desactivado por Mijapop por un incumplimiento de las reglas de convivencia o de
          las
          condiciones de uso establecidos, el Usuario recibirá una notificación en la dirección de correo asociada al
          perfil
          desactivado y será responsabilidad del Usuario cancelar su suscripción.<br><br>

          El derecho de desistimiento no será aplicable a los servicios de suscripción cuya ejecución haya
          comenzado.<br><br>
        </p>
      </div>

      <hr class="my-4 border-info">

      <div>
        <p class="card-title"><b>11. Moneda Mijapop</b></p>
        <p>
          La moneda Mijapop está disponible únicamente en web y permite comprar pack de destacados de zona, ciudad y
          país
          con descuentos.<br>
          No permite la compra de destacados ‘Urge’ ni de servicios de reactivado de anuncios caducados.
          La
          moneda Mijapop no sirve en ningún caso para pagar productos anunciados en la app y es de uso exclusivo para
          pago
          de destacados.<br><br>

          El método de pago permitido para adquirir moneda Mijapop es tarjeta de débito o crédito. Las compras de
          moneda
          Mijapop no son reembolsables si el usuario ha hecho uso de algún crédito de la moneda Mijapop.<br><br>

          En caso de no haber hecho uso del crédito, el plazo para solicitar un reembolso es de 14 días desde el momento
          de
          la compra. Pasado este plazo, no será posible emitirlo.<br><br>

          Los paquetes de moneda Mijapop expiran pasados 12 meses de la compra de los mismos. Comprando un nuevo pack,
          los
          créditos restantes adquieren la nueva fecha de expiración.<br><br>

          No es posible vender moneda Mijapop, ni transferirla de un perfil de Mijapop a otro.<br><br>

          Es posible consultar el saldo de moneda Mijapop en el apartado ‘mi zona’ de la web.
        </p>
      </div>

      <hr class="my-4 border-info">

      <div>
        <p class="card-title"><b>14. Nulidad e ineficacia de las cláusulas</b></p>
        <p>
          Si cualquier cláusula incluida en los presentes Términos de Uso fuese declarada total o parcialmente, nula o
          ineficaz, tal nulidad o ineficacia tan sólo afectará a dicha disposición o a la parte de la misma que resulte
          nula
          o ineficaz, subsistiendo los presentes Términos de Uso en todo lo demás, considerándose tal disposición total
          o
          parcialmente por no incluida.
        </p>
      </div>

      <hr class="my-4 border-info">

      <div>
        <p class="card-title"><b>13. Legislación aplicable y jurisdicción competente</b></p>
        <p>
          Estos Términos de Uso se regirán e interpretarán conforme a la legislación española. En caso de litigio entre
          Mijapop y el Usuario, éste podrá interponer su acción ante los tribunales españoles correspondientes al
          domicilio
          de Mijapop, o bien ante los tribunales del lugar donde el Usuario esté domiciliado.
        </p>
      </div>
    </div>
  </div>
</div>
